body, h1, h2
  :font
    :family monaco, lucida console, verdana
    :size 13px
  :margin 0
  :padding 0

h1
  :font
    :size 1.8em
    :weight 800
  :color #444444

#wrapper
  :width 798px
  :margin
    :left auto
    :right auto
  :border 1px solid #555555
  :padding 3px 10px
  
#welcome_message
  :float left
  :width 450px
  :margin 0 5px

#vote_list_link
  :text-align center 
  :margin
    :top 35px
  a
    :text-decoration none
    &:hover span
      :background
        :color #a3b8cc

    span
      :padding 15px
      :font
        :size 1.25em
      :border
        :width 2px
        :color #777777
        :style solid

    
#example
  :clear both


